<h3 class="first">Addons</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
                <i class="fa fa-user"></i>
            </span>
            <input type="text" pInputText placeholder="Name" name="caseNumber" [(ngModel)]="caseNumber">
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">$</span>
            <input type="text" pInputText placeholder="Date of case" name="dateOfCase" [(ngModel)]="dateOfCase">
            <span class="ui-inputgroup-addon">.00</span>
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <p-listbox [options]="casePersons" optionLabel="name" readOnly="true"></p-listbox>
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <p-multiSelect [options]="persons" [(ngModel)]="selectedPersons" optionLabel="name"></p-multiSelect>
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <button pButton type="button" (click)="add()" label="Add"></button>
            <button pButton type="button" (click)="update()" label="Update"></button>
            <button pButton type="button" (click)="delete()" label="Delete"></button>
        </div>
    </div>
</div>